[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/Camelot-23/hugo-theme-dream.git
